

@media (max-width: 768px) {
    body {
        padding: 0 1rem;
    }

    header {
        padding-top: 1.25rem;
    }

    #search-section {
        flex-direction: column;
    }

    .btn-search {
        font-size: 0.9rem;
        padding: 0.7rem 8.9rem;
    }

    #current-weather {
        margin: 0;
    }

    #weather-card  {
        background-image: url("assets/images/bg-today-small.svg");
    }

}

@media (max-width: 616px) {
    #daily-forecast {
        justify-content: start;
    }
}

@media (max-width: 519px) {
    #weather-card {
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem 2rem;
        background-image: url("assets/images/bg-today-small.svg");
    }

    .card-info {
        align-items: center;
        padding-bottom: 1rem;
    }

    #card-info__location-name {
        font-size: 1.5em;
    }

    #card-info__current-date {
        font-size: 0.95rem;
    }
}

@media (max-width: 428px) {
    #hourly-forecast {
        padding: 1rem 0.9rem;
    }

    #hourly-list {
        padding-right: 0.9rem;
        margin-right: -0.9rem;
    }
}

@media (max-width: 384px) {
    .stat {
        width: 9.6rem;
    }
}

@media (max-width: 372px) {
}

@media (max-width: 370px) {
    .stat {
        width: 9.2rem;
    }
}

@media (max-width: 357px) {
    .stat {
        width: 9rem;
    }
}

@media (max-width: 351px) {
    .stat {
        width: 8.8rem;
    }
}